
/*for iventro*/
h2.for_eventor_title {
    font-family: 'Trebuchet MS';
    font-size: 28px;
    color: #343434;
    font-style: italic;
    line-height: 34px;
    margin-bottom: 18px;
}
h2.for_eventor_title span, h3.for_eventor_title_small span {
    color: #ad0000;
}
p.for_eventor_desc {
    font-family: 'Trebuchet MS';
    font-size: 18px;
    color: #343434;
    line-height: 24px;
}
h3.for_eventor_title_small {
    font-family: 'Trebuchet MS';
    font-size: 23px;
    font-style: italic;
    margin-bottom: 10px;
    line-height: 30px;
}
ul.service_advantages {
    font-family: 'Trebuchet MS';
    font-size: 19px;
    line-height: 30px;
    margin-left: 45px;
    margin-bottom: 10px;
}
ul.service_advantages li {
    position: relative;
}
ul.service_advantages li span {
    position: absolute;
    background: url('../images/for_eventor/sa_num_bg.png') left 4px no-repeat;
    display: block;
    left: -30px;
    width: 22px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    z-index: 3;
}
div.for_eventor_present {
    width: 387px;
    padding-top: 215px;
    background: url('../images/for_eventor/present.png') left top no-repeat;
    margin: -10px auto 0;
}
div.for_eventor_present a.join {
    font-family: 'Trebuchet MS';
    display: block;
    text-decoration: none;
    width: 211px;
    height: 55px;
    background: url('../images/for_eventor/join_btn.png') left center no-repeat;
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-left: 70px;
}
div.for_eventor_steps {
    margin-bottom: 10px;
}

div.for_eventor_steps div {
    width: 434px;
    height: 329px;
    float: left;
}
div.for_eventor_steps div.step1 {
    background: url('../images/for_eventor/step1.png') left top no-repeat;
}
div.for_eventor_steps div.step2 {
    background: url('../images/for_eventor/step2.png') left top no-repeat;
    margin-top: 50px;
    margin-left: 90px;
}
div.for_eventor_steps div.step3 {
    background: url('../images/for_eventor/step3.png') left top no-repeat;
    margin-left: 20px;
    margin-top: -50px;
}
div.for_eventor_steps div.step4 {
    background: url('../images/for_eventor/step4.png') left top no-repeat;
    margin-left: 90px;
}
